*
{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #FFFFFF;
    color: #666666;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body:not(.layout-boxed) .page-wrapper {
    overflow-x: hidden;
}

body .container, body .page-main {
    max-width: 1600px;
}

a{
    text-decoration: none;
}

.page-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.page-header {
    border: 0;
    margin-bottom: 0;
}
.page-header {
    border: none;
    margin: 0;
        margin-bottom: 0px;
    padding: 0;
    background: 0 0;
}
.page-header {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 23px;
}


.header-top {
    height: 40px;
    background-color: #18232e;
    color: #bbb;
}

.header-top .header-topleft ul {
    padding: 0;
    margin: 0;
}

.header-top .header-topleft ul li {
    padding: 0 15px 0 0;
    margin: 12px 15px 12px 0;
    list-style: none;
    display: inline-block;
    border-right: 1px solid #bbb;
    line-height: 15px;
}

/* Header middle */
.header-middle {
    padding: 41px 0 18px;
    background-color: #fff;
}

/* Logo */
.logo-container {
    float: left;
    width: 250px;
}

.logo-content .logo {
    max-width: 100%;
    margin: 0;
}

/* Right container Header */
.right-container {
    padding-left: 20px;
    float: left;
    width: calc(100% - 250px);
}

.right-content {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

/* Search bar */

.form-control:focus {
    box-shadow: none;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.btn-circle { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 

.fa-search
{
    color: #fff;
}

.btn-primary{
    background-color: #3399fe;
    border: none;
} 
.form-select{
    border: none;
    box-shadow: none;
    color: #6f6a95;
    font-size: 13px;
}

.form-select:focus{
    border: none;
    box-shadow: none;
}

.search{
    padding-right: 70px;
}

.block-search {
    display: table-cell;
    vertical-align: top;
    float: none !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 100% !important;
}

/* Hotline */

.hotline-header {
    margin: 5px 95px 5px 0;
    padding-left: 15px;
    position: relative; 
    white-space: nowrap;
}
.hotline-header span {
    display: block;
}
.hotline-header strong {
    color: #222;
}
.fa-headphones{
    display: inline-block;
    color: #222;
    margin-left: 50px;
    margin-right: 0;
    padding-right: 0;
}

/* Account */

.customer-action {
    text-align: center;
    padding-top: 0;
}
.customer-action a{
    color :  #222;
}
.customer-action  span {
    
    font-size: 85.71%;
    text-transform: capitalize;
    white-space: nowrap;
}

.customer-action a:hover{
    color: chocolate;
}

/* WishList */
.header-wishlist {
    margin: 0 40px;
}

.header-wishlist a{
    color :  #222;
    font-size: 86.71%;
    text-align: center;
    padding-left: 10px;
}

.header-wishlist a span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 13px;
    background-color: #3399fe;
    overflow: hidden;
    color: #fff;
    padding: 5px;
    text-align: center;
}
.header-wishlist a:hover{
    color: chocolate;
}

/* shopping-cart */

.header-wishlist a{
    color :  #222;
    font-size: 86.71%;
    text-align: center;
    padding-left: 10px;
}
.shopping-cart a{
    color: #222;
    font-size: 85.6%;
}

.shopping-cart a span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 13px;
    background-color: #3399fe;
    overflow: hidden;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.shopping-cart :hover{
    color: chocolate;
}

/* NavBar */

@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 50px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}
