body {
    background-color: #ffffff;
    font-family: "Roboto";
    font-size: 13px;
    color: #666666;
    background-image: url('');
    background-repeat: repeat-x;
    background-position: left top;
}

a{
    text-decoration: none;
}

button:focus{
    outline : none !important;
    box-shadow: none;
}
.wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

/* header-top */

.header-top {
    height: 41px;
    background-color: #f5f5f5;
    padding-top: 10px;
}
.container {
    max-width: 1600px;
}

.dash-line {
    color: #fe3c00;
    border-bottom: 1px dashed #fe3c00;
}

#carousel{
    margin-top: 20px;
}

/* NavBar */

#navigation{
    background-color: #2a3c52;
}
.fa-shopware{
    color: #fe3c00;
}
.logo{
    color: #fe3c00;
}
.bg-perso{
    background: #2a3c52;
}

#search{
   max-width: 300px;
}

.category-drop{
    max-width: 150px;
}

.navbar-collapse ul li{
    font-size: 16px;
    padding-right: 20px;
}
.navbar-collapse .first{
    padding-left: 15px;
}
#navigation .row  {
    max-width: 1200px;
    padding: 5px 15%;
}
.connexion li::first-line{
   border-right: solid 1px #666666; ;
}

#search{
    max-width: 500px;
}

.user-option{

    margin-left: 10px;
}
.search{
    margin-right: 60px;
}

.user-option a{
    color: #555;
    padding-right: 30px; 
}

.item-number{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 20%;
    background-color: chocolate;
    color: rgb(128, 99, 99);
    font-size: 15px;
}

#best-category{
    margin-top: 60px;
}

#title-category{
    font-weight: bold;
    color: #222;
    margin-bottom: 30px !important;
}
.style-description-category{
    text-align: center;
    color: #222;
}

.style-description-category a{
    color: #222;
}
.style-devices{
    color: #666;
}

/* Section item Wrap */

#items-wrap{
    margin-top: 60px;
}

/* Features Brand */

#feature-brand{
    margin-top: 60px;
}

/* Article List */

#article-list{
    margin-top: 60px;
}

.title-article{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
}

#product{
    text-align: center;
}

#price{
    color: red;
    font-size: 16px;
    font-weight: bold;
}
.middle{
    margin-top: 0;
    padding: 0;
    text-align: center;
}

#product .card{
    min-height: 272.062px;
    max-height: 272.062px;
}

#product .card img{
    max-height: 272.062px;
} 

a .btn:focus{
    outline: none;
    
}

#article-list ul li{
    text-decoration: none;
    display: inline-block;
    color: #ffc000;
}

/* item-wrap */

#item-wrap{
    margin-top: 60px;
}

/* Footer */

footer{
    margin-top: 50px;
}
.get{
    background-color: #1266f1;
    color: #fff;
}

.get a{
    margin-left: 25px;
}

.footer-link{
    background-color: #2e2e2e;
    color: #fff;
}

.footer-copyright{
    background-color: #222;
}

.title-footer::before{
    content: '';
    background: #1266f1;
    height: 5px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(40px);
    border-radius: 3px
    /* border-bottom: solid 5px #2a3c52; */
}

/* #user-activity .nav-item{
    display: inline-block;
} */